[Unit]
Description=Run snapper-weekly-writable weekly

[Timer]
# OnCalendar weekly runs at Mon 00:00 by default; choose a specific time if desired:
# OnCalendar=DOW YYYY-MM-DD HH:MM:SS
OnCalendar=weekly
OnCalendar=Mon *-*-* 15:00:00
Persistent=yes

[Install]
WantedBy=timers.target